// COLOR PALETTE

$yellow: #f8fb05;
$green: #065635;
$white:#f5f5f5;
$lightGreen: #E0FDDF;
$black: #151514;

// FONT Families
$mainHeading: 'Kumar One Outline', cursive;
$subHeading:'Kumar One', cursive;
$bodyFont: 'Lato', sans-serif;
