@use '../globalPar/variables';

.comments {
    padding-top: 0;
}

.postedCommments {
    width: 67%;

    .firstComment, 
    .secondComment {
        display: flex;
        
        .textContainer {
            width: 80%;
            margin-left: 30px;

            span {
                text-transform: uppercase;
                font-weight: bold;
                display: inline-block;
                margin-bottom: 15px;
            }
        }
    }
}