@use "../globalPar/variables";

.aboutGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .textContainer {
        width: 45%;
        text-transform: none;
        font-weight: normal;
        list-style: url(./resources/blogIcon.svg);

        h3 {
            margin-bottom: 0;
        }
    }
}