@use '../globalPar/variables';
 
.programLocations  {
    background-color: variables.$lightGreen;
    height: 85vh;

    .wrapper {
        display: flex;
        justify-content: space-between;

        .leftSide{
            position: relative;
            width: 38%;
            padding-top: 300px;
            text-align: right;
            

            .imgContainer {
                width: 600px;
                position:absolute;
                left: -143px;
                top:-155px;

                img {
                    box-shadow: 15px 15px 0 2px variables.$yellow;                    
                }
            }
        }

        .rightSide {
           position: relative;
            width: 38%;

            .imgContainer {
                width: 600px;
                position:absolute;
                bottom: -125px;
                right: -143px;

                img {
                    box-shadow: -15px 15px 0 2px variables.$yellow;                    
                }
            }
                  
        }
    }

}
