html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  padding: 10px 0;
  z-index: 10;
}

.skipLink:focus {
  left: 0;
  text-align: center;
  right: 0;
}

/* GENERAL STYLES */
html {
  font-size: 125%;
  background-color: #f5f5f5;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 100px 0;
}

.blog {
  background-color: #E0FDDF;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #151514;
}

h2, h3, h4 {
  font-family: "Kumar One", cursive;
  font-weight: normal;
  color: #151514;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 3.4rem;
  font-family: "Kumar One Outline", cursive;
  font-weight: normal;
  color: #151514;
  text-transform: uppercase;
}

h2 {
  font-size: 1.65rem;
}

h3 {
  font-size: 1.65rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.65rem;
  line-height: 2rem;
  margin-bottom: 18px;
}

h5 {
  font-size: 1.65rem;
  font-weight: bold;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}

p {
  line-height: 1.6rem;
  margin: 0 0 30px 0;
  letter-spacing: 2px;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

ul {
  list-style: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttonA {
  font-family: "Kumar One", cursive;
  letter-spacing: 1px;
  background-color: #065635;
  color: #f5f5f5;
  padding: 10px 15px 2px;
  text-align: center;
}

.logo {
  line-height: 24px;
  letter-spacing: 1.2px;
  font-size: 1.2rem;
}

.homeHeader {
  background-image: url(./resources/header-home.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
}
.homeHeader .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.homeHeader .wrapper h1 {
  padding-top: 95px;
  padding-bottom: 40px;
  margin-left: 130px;
  line-height: 1;
}
.homeHeader .wrapper nav {
  width: 40%;
  padding-top: 40px;
}
.homeHeader .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.homeHeader .imgContainer {
  width: 825px;
}

header a:hover,
header a:focus {
  border-bottom: 3px solid #f8fb05;
  padding-bottom: 3px;
}

.newMaterials .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.newMaterials .wrapper .textContainer {
  width: 65%;
}
.newMaterials .wrapper .textContainer h2 {
  margin-bottom: 25px;
}
.newMaterials .wrapper .imgContainer img {
  -webkit-box-shadow: -15px 15px 0 3px #f8fb05;
          box-shadow: -15px 15px 0 3px #f8fb05;
}

.gallery {
  background-color: #E0FDDF;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery ul li {
  width: calc(33.3333333333% - 20px);
  margin: 0 20px;
}

.aboutGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 45px;
}
.aboutGrid .textContainer {
  width: 45%;
  text-transform: none;
  font-weight: normal;
  position: relative;
}
.aboutGrid .textContainer h3 {
  margin-bottom: 0;
  position: relative;
}
.aboutGrid .textContainer .imgContainer {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -65px;
  background-color: #f8fb05;
  border-radius: 50%;
}
.aboutGrid .textContainer img {
  border-radius: 50%;
}

.programLocations {
  background-color: #E0FDDF;
  height: 85vh;
}
.programLocations .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.programLocations .wrapper .leftSide {
  position: relative;
  width: 38%;
  padding-top: 300px;
  text-align: right;
}
.programLocations .wrapper .leftSide .imgContainer {
  width: 600px;
  position: absolute;
  left: -143px;
  top: -155px;
}
.programLocations .wrapper .leftSide .imgContainer img {
  -webkit-box-shadow: 15px 15px 0 2px #f8fb05;
          box-shadow: 15px 15px 0 2px #f8fb05;
}
.programLocations .wrapper .rightSide {
  position: relative;
  width: 38%;
}
.programLocations .wrapper .rightSide .imgContainer {
  width: 600px;
  position: absolute;
  bottom: -125px;
  right: -143px;
}
.programLocations .wrapper .rightSide .imgContainer img {
  -webkit-box-shadow: -15px 15px 0 2px #f8fb05;
          box-shadow: -15px 15px 0 2px #f8fb05;
}

.emptyfullbleed {
  background-image: url(./resources/banner-image.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
}

.searchStyle {
  padding-top: 60px;
  padding-bottom: 150px;
}
.searchStyle .textContainer {
  text-align: center;
}

footer {
  background-color: #151514;
  color: #f5f5f5;
  text-align: center;
}
footer p {
  margin-bottom: 0;
}

.blogHeader {
  background-image: url(./resources/blog-image.jpg);
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.blogHeader nav {
  width: 100%;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogHeader nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.blogHeader h1 {
  padding-top: 120px;
}

.blogPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogPost .leftSide {
  position: relative;
}
.blogPost .leftSide .imgContainer {
  width: 80%;
  -webkit-box-shadow: 11px 13px 0 2px #f8fb05;
          box-shadow: 11px 13px 0 2px #f8fb05;
  position: absolute;
  top: -252px;
}
.blogPost .leftSide .textContainer {
  width: 81%;
  padding-left: 135px;
  background-color: #f5f5f5;
  border-right: 8px solid #f8fb05;
  border-bottom: 8px solid #f8fb05;
  padding-top: 395px;
  padding-right: 20px;
}
.blogPost .rightSide {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 900px;
  background-color: #f8fb05;
  position: relative;
  padding-top: 40px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 125px;
}
.blogPost .rightSide .imgContainer {
  position: absolute;
  -webkit-box-shadow: -13px 15px 0 3px #f8fb05;
          box-shadow: -13px 15px 0 3px #f8fb05;
  width: 95%;
  top: -340px;
  right: 0;
}
.blogPost .rightSide .textContainer {
  padding: 15px 30px 15px 15px;
  line-height: 1.6rem;
  letter-spacing: 2px;
}
.blogPost .rightSide .textContainer h4 {
  font-size: 1.4rem;
}
.blogPost .rightSide .textContainer li {
  font-weight: normal;
  text-transform: none;
  list-style: inside;
}